a, a:hover, a:active, a:focus {
  outline: 0;
}
a:hover, a:focus {
  color: #004e31;
  text-decoration: underline;
}
a:active, a:hover {
  outline: 0;
}
a {
  color: #009a61;
  text-decoration: none;
}
a {
  background: transparent;
}
img {
  vertical-align: middle;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
h1,h2,h3,h4,h5,h6,p,li{
  opacity: .9;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-warning a {
  color: #8a6d3b;
}
a, a:hover, a:active, a:focus {
  outline: 0;
}
body{
  font-size: 14px;
  font-family:  -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}

